.background {
  background-image: url("/src/components/imgs/Christmas-Background-HD.jpg.crdownload");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.navbar__item {
  flex-basis: 10%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  list-style-type: none;
  padding: 7px;
  background-color:rgb(155, 107, 107);
  border-radius: 9px;

}

.mainContainer {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: .5rem;   
}

.allFamiliesContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url("/src/components/imgs/scroll2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.infoDiv{
  background-color: lightslategrey;
}

h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.familyMemberView {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(198, 189, 189);
  border-radius: 2px;
  border-color: black;
}

.userProfileView {
  padding-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
  background-color: rgb(198, 189, 189);
  text-align: center;
}